<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if state_id is not defined %}
            <H1>States</H1>
            <UL>
                {% for i in states.values()|sort(attribute='name') %}
                <LI>
                    {{ i.id }}: <B>{{ i.name }}</B>
                </LI>
                {% endfor %}
        {% else %}
            {% if state_name %}
                <H1>State: {{ state_name }}</H1>
                <H3>Cities:</H3>
                <UL>
                    {% for j in cities.values()|sort(attribute='name') %}
                        {% if j.state_id == st_id %}
                            <LI>
                                {{ j.id }}: <B>{{ j.name }}</B>
                            </LI>
                        {% endif %}
                    {% endfor %}
                </UL>
            {% else %}
                <H1>Not found!</H1>
            {% endif %}
        {% endif %}
        </UL>
    </BODY>
</HTML>
